# System Configuration
ENV=development
LOG_LEVEL=INFO

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=ecope_user
DB_PASSWORD=secret_password
DB_NAME=ecope_db

# AI Engine Configuration
# Comma separated list of RTSP URLs
RTSP_SOURCES=rtsp://10.180.224.136:5543/172eee54aa664e9dd0536b063796e54e/live/channel0
GPU_ID=0
INFERENCE_SIZE=640
CONFIDENCE_THRESHOLD=0.5

# Face Recognition
FACE_DB_PATH=./face_db
FACE_RECOGNITION_INTERVAL=5 # Run every N frames

# Web Server
API_HOST=0.0.0.0
API_PORT=8000
