# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
.env
.venv
env.bak/
venv.bak/

# Environment Variables
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
*.log

# Models
*.pt
*.onnx

# Project Specific
*.mp4
*.avi
*.jpg
*.png
face_db/
logs/
data/
db_data/ # Postgres volume mapping
